{% load static %}
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Dashboard using CanvasJS Charts</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
      <!-- <link rel="stylesheet" href="https://potree.org/potree/build/potree/potree.css"> -->
      <link href="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>   
      <script src="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Cesium.js"></script>
      <!-- <script src="https://potree.org/potree/build/potree/potree.js"></script> -->
   </head>
   <body class="fixed-nav sticky-footer bg-dark" id="page-top">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
         <a class="navbar-brand" href="#">Infra Connect</a>
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                  <a class="nav-link" href="#">
                  <i class="fa fa-fw fa-dashboard"></i>
                  <span class="nav-link-text">Dashboard</span>
                  </a>
               </li>
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                  <a class="nav-link" href="#">
                  <i class="fa fa-fw fa-area-chart"></i>
                  <span class="nav-link-text">Charts</span>
                  </a>
               </li>
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                  <a class="nav-link" href="#">
                  <i class="fa fa-fw fa-table"></i>
                  <span class="nav-link-text">Tables</span>
                  </a>
               </li>
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Devices">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                  <i class="fa fa-fw fa-wrench"></i>
                  <span class="nav-link-text">Devices</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseComponents">
                     <li>
                        <a href="#">monitoring</a>
                     </li>
                     <li>
                        <a href="#">earthwork</a>
                     </li>
                  </ul>
               </li>
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                  <i class="fa fa-fw fa-file"></i>
                  <span class="nav-link-text">Settings</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                     <li>
                        <a href="#">Login Page</a>
                     </li>
                     <li>
                        <a href="#">Registration Page</a>
                     </li>
                     <li>
                        <a href="#">Forgot Password Page</a>
                     </li>
                  </ul>
               </li>
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accounts">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                  <i class="fa fa-fw fa-sitemap"></i>
                  <span class="nav-link-text">Accounts</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseMulti">
                     <li>
                        <a href="#">Second Level Item</a>
                     </li>
                     <li>
                        <a href="#">Second Level Item</a>
                     </li>
                     <li>
                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                        <ul class="sidenav-third-level collapse" id="collapseMulti2">
                           <li>
                              <a href="#">Third Level Item</a>
                           </li>
                           <li>
                              <a href="#">Third Level Item</a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                  <a class="nav-link" href="#">
                  <i class="fa fa-fw fa-link"></i>
                  <span class="nav-link-text">Link</span>
                  </a>
               </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
               <li class="nav-item">
                  <a class="nav-link text-center" id="sidenavToggler">
                  <i class="fa fa-fw fa-angle-left"></i>
                  </a>
               </li>
            </ul>
            <ul class="navbar-nav ml-auto">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-fw fa-envelope"></i>
                  <span class="d-lg-none">Messages
                  <span class="badge badge-pill badge-primary">12 New</span>
                  </span>
                  <span class="indicator text-primary d-none d-lg-block">
                  <i class="fa fa-fw fa-circle"></i>
                  </span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                     <h6 class="dropdown-header">New Messages:</h6>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">
                        <strong>David Miller</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">
                        <strong>John Doe</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item small" href="#">View all messages</a>
                  </div>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-fw fa-bell"></i>
                  <span class="d-lg-none">Alerts
                  <span class="badge badge-pill badge-warning">6 New</span>
                  </span>
                  <span class="indicator text-warning d-none d-lg-block">
                  <i class="fa fa-fw fa-circle"></i>
                  </span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                     <h6 class="dropdown-header">New Alerts:</h6>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">
                        <span class="text-success">
                        <strong>
                        <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                        </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">
                        <span class="text-success">
                        <strong>
                        <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                        </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item small" href="#">View all alerts</a>
                  </div>
               </li>
               <li class="nav-item">
                  <form class="form-inline my-2 my-lg-0 mr-lg-2">
                     <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-append">
                        <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                        </button>
                        </span>
                     </div>
                  </form>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-fw fa-sign-out"></i>Logout</a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- Navigation-->
      <div class="content-wrapper">
         <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="#">Dashboard</a>
               </li>
               <li class="breadcrumb-item active">My Dashboard</li>
            </ol>
            <!-- Icon Cards-->
            <div class="card-list">
               <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                     <div class="card blue">
                        <div class="title">ISSUE</div>
                        <i class="fa fa-fw fa-comments"></i>
                        <div class="value">89</div>
                        <div class="details">View Details &gt;</div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                     <div class="card green">
                        <div class="title">OPEN ISSUE</div>
                        <i class="fa fa-fw fa-list"></i>
                        <div class="value">11</div>
                        <div class="details">View Details &gt;</div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                     <div class="card orange">
                        <div class="title">PROGRESS</div>
                        <i class="fa fa-fw fa-shopping-cart"></i>
                        <div class="value">152</div>
                        <div class="details">View Details &gt;</div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                     <div class="card red">
                        <div class="title">CLOSE ISSUE</div>
                        <i class="fa fa-fw fa-support"></i>
                        <div class="value">7</div>
                        <div class="details">View Details &gt;</div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Leaflet Map -->            
            <div class="row">
               <div class="col-lg-8">
                   <div class="card mb-3">
                       <div class="card-header">
                           <i class="fa fa-map"></i> Infra map
                       </div>
                       <div class="card-body">
                           <div id="leafletMap" style="width:100%; height: 450px"></div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4">
                  <!-- Example Pie Chart Card-->
                  <div class="card mb-3">
                     <div class="card-header">
                        <i class="fa fa-pie-chart"></i> IoT Chart
                     </div>
                     <div class="card-body">
                        <div class="form-group row">
                           <div class="col-sm-4">
                              <button id="updateButton" type="button" class="btn btn-primary">Update</button>
                          </div>
                           <div class="col-sm-8">
                              <select id="sensorType" class="form-control">
                                  <option value="ACC">Accelerometer</option>
                                  <option value="TEMP">Temperature</option>
                                  <option value="ICV">Intelligent Compaction Value</option>
                                  <option value="RUT">Rutting</option>
                              </select>
                          </div>
                       </div>                     
                        <div id="iotChart" style="width: 100%; height: 350px"></div>
                     </div>
                  </div>
               </div>               
            </div>               
            <div class="row">
               <div class="col-lg-4">
                  <!-- Example Pie Chart Card-->
                  <div class="card mb-3">
                     <div class="card-header">
                        <i class="fa fa-pie-chart"></i> BIM Viewer
                     </div>                
                     <div class="card-body">
                        <!-- <aside class="side-menu" id="side-menu-left"></aside>
                        <div id="loading-overlay" class="loading-overlay hidden">
                        <h1 id="loading-progress" class="loading-progress"></h1> -->     
                        <div id="viewer-container" style="width: 100%; height: 350px"></div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <!-- Bar Chart -->
                  <div class="card mb-3">
                     <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Sensor Activity Bar Chart
                     </div>
                     <div class="card-body">
                        <div class="row">
                           <div class="col-sm-8 my-auto">
                              <div id="columnChart" style="width: 100%; height: 350px"></div>
                           </div>
                           <div class="col-sm-4 text-center my-auto">
                              <div id="columnChart_ready" class="h4 mb-0 text-primary">484,240</div>
                              <div class="small text-muted">Ready</div>
                              <hr>
                              <div id="columnChart_operation" class="h4 mb-0 text-warning">180,400</div>
                              <div class="small text-muted">Operation</div>
                              <hr>
                              <div id="columnChart_shutdown" class="h4 mb-0 text-success">160,219</div>
                              <div class="small text-muted">Shutdown</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- <div class="col-lg-4">
                  <div class="card mb-3">
                     <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Potree Viewer
                     </div>                
                     <div class="card-body">
                        <div class="potree_container" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; ">
                           <div id="potree_render_area">
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
               <div class="col-lg-4">
                  <div class="card mb-3">
                     <div class="card-header">
                        <i class="fa fa-bell-o"></i> Message from field
                     </div>
                     <div class="list-group list-group-flush small">
                        <a class="list-group-item list-group-item-action" href="#">
                           <div class="media">
                              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                              <div class="media-body">
                                 <strong>David Miller</strong>posted a new article to
                                 <strong>David Miller Website</strong>.
                                 <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                              </div>
                           </div>
                        </a>
                        <a class="list-group-item list-group-item-action" href="#">
                           <div class="media">
                              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                              <div class="media-body">
                                 <strong>Samantha King</strong>sent you a new message!
                                 <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
                              </div>
                           </div>
                        </a>
                        <a class="list-group-item list-group-item-action" href="#">
                           <div class="media">
                              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                              <div class="media-body">
                                 <strong>Jeffery Wellings</strong>added a new photo to the album
                                 <strong>Beach</strong>.
                                 <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
                              </div>
                           </div>
                        </a>
                        <a class="list-group-item list-group-item-action" href="#">View all activity...</a>
                     </div>
                  </div>                  
               </div>
            </div>
            <!-- Example DataTables Card-->
            <div class="row">
               <div class="col-lg-4">
                  <div class="card mb-3">
                     <div class="card-header">
                           3D Map
                     </div>
                     <div class="card-body">
                        <div id="cesiumContainer"></div>
                     </div>
                  </div>   
               </div>            
               <div class="col-lg-8">
                  <div class="card mb-3">
                     <div class="card-header">
                        <i class="fa fa-table"></i> Sensor Data Table
                     </div>
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="sensorDataTable" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                 <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Address</th>
                                    <th>Count</th>
                                    <th>Start date</th>
                                    <th>Value</th>
                                 </tr>
                              </thead>
                              <tfoot>
                                 <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Address</th>
                                    <th>Count</th>
                                    <th>Start date</th>
                                    <th>Value</th>
                                 </tr>
                              </tfoot>
                              <tbody>
                                 <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                 </tr>
                                 <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                 </tr>
                                 <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>   
            </div>
         </div>
         <!-- /.container-fluid-->
         <!-- /.content-wrapper-->
         <footer class="sticky-footer">
            <div class="container">
               <div class="text-center">
                  <small>Made with <i class="fa fa-heart" style="color:#d53434"></i> | <a href="https://vishwas.me/" target="_blank">Vishwas</a></small>
               </div>
            </div>
         </footer>
         <!-- Scroll to Top Button-->
         <a class="scroll-to-top rounded" href="#page-top">
         <i class="fa fa-angle-up"></i>
         </a>
         <!-- Logout Modal-->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                     <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                     </button>
                  </div>
                  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                  <div class="modal-footer">
                     <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                     <a class="btn btn-primary" href="#">Logout</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
      <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.js"></script>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      
      <!--script src="{% static 'canvasjs.min.js' %}"></script-->

      <script src="{% static 'script.js' %}"></script>
      <!-- <script type="module" src="{% static 'webifc.js' %}"></script> -->
      <script src="{% static 'webifc.js' %}"></script>

      <script>         
         // -- Bar Chart
         var columnChart = new CanvasJS.Chart("columnChart", {
               animationEnabled: true,
               exportEnabled: true,
               axisX: {
                  lineColor: "rgba(0, 0, 0, .125)",
                  labelFontColor: "rgba(0, 0, 0, .5)",
                  tickColor: "rgba(0, 0, 0, .125)"
               },
               axisY: {
                  gridColor: "rgba(0, 0, 0, .125)",
                  lineColor: "rgba(0, 0, 0, .125)",
                  labelFontColor: "rgba(0, 0, 0, .5)",
                  tickColor: "rgba(0, 0, 0, .125)",
                  includeZero: true
               },
               toolTip: {
                  shared: true
               },
               data: [{
                  type: "column",
                  color: "rgb(2,117,216)",
                  name: "Revenue",
                  yValueFormatString: "$#,###",
                  dataPoints: {{ column_data | safe }}
               }]
            });
         columnChart.render();

         setInterval(fetchColumnData, 3000);
         function fetchColumnData() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/charts?chartType=column', true);
            xhr.onreadystatechange = function () {
               if (xhr.readyState == 4 && xhr.status == 200) {
                     var columnData = JSON.parse(xhr.responseText);
                     columnChart.options.data[0].dataPoints = columnData;
                     columnChart.render();

                     var columnChart_ready = document.getElementById('columnChart_ready');
                     var columnChart_operation = document.getElementById('columnChart_operation');
                     var columnChart_shutdown = document.getElementById('columnChart_shutdown');
                     columnChart_ready.innerHTML = columnData[0].y;
                     columnChart_operation.innerHTML = columnData[1].y;
                     columnChart_shutdown.innerHTML = columnData[2].y;
               }
            };
            xhr.send();
         }

         var iotChart = new CanvasJS.Chart("iotChart", {
            animationEnabled: true,
            exportEnabled: true,
            theme: "light2",
            title:{
               text: "IoT Data Visualization"
            },
            axisX:{
               valueFormatString: "DD MMM"
            },
            axisY: {
               title: "IoT datasets",
               includeZero: false,
               prefix: "$"
            },
            data: [{
               type: "candlestick",
               showInLegend: true,
               name: "Hourly IoT Variation",
               yValueFormatString: "##0.00",
               xValueType: "dateTime",
               dataPoints: {{ iot_data | safe }},
               color: "orange"
            }]
         });
         iotChart.render();
         
         // -- Pie Chart
         /* var pieChart = new CanvasJS.Chart("pieChart", {
               animationEnabled: true,
               exportEnabled: true,
               legend: {
                  verticalAlign: "top"
               },
               data: [{
                  type: "pie",
                  showInLegend: true,
                  dataPoints: {{ pie_data | safe }}
               }]
            });
         pieChart.render(); */ 

         // Leaflet map
         var map = L.map('leafletMap').setView([37.5665, 126.9780], 13); // Seoul coordinates
         L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
         }).addTo(map);         

         var redIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
         });

         // PoI objects
         poi_html = '<span style="color:red;">ACC=0.23</span><br><span style="color:blue;">TEMP=23.5</span><br><span style="color:green;">ICV=5.5</span><br><span style="color:purple;">RUT=6.5</span>'
         var poi1 = L.marker([37.5665, 126.9780], {icon: redIcon}).addTo(map).bindPopup(poi_html);
         var poi2 = L.marker([37.5796, 126.9770], {icon: redIcon}).addTo(map).bindPopup(poi_html);
         var poi3 = L.marker([37.5827, 126.9984], {icon: redIcon}).addTo(map).bindPopup(poi_html);
         var poi4 = L.marker([37.5700, 126.9860], {icon: redIcon}).addTo(map).bindPopup(poi_html);
         var poi5 = L.marker([37.5641, 126.9989], {icon: redIcon}).addTo(map).bindPopup(poi_html);
         var poi_list = [poi1, poi2, poi3, poi4, poi5];
         for (var i = 0; i < poi_list.length; i++) {
            poi_list[i].on('click', async function(e) {
               var ifc_files = ['test.ifc', 'ac20_haus.ifc', 'road_IFC4x3.ifc', 'table.ifc', 'ac20_lab.ifc']
               index = poi_list.indexOf(this);
               index = index % ifc_files.length;

               ifcviewer.axes.setAxes();
               ifcviewer.grid.setGrid();
               const ifcUrl = "/static/" + ifc_files[index]; // "/static/test.ifc";
               await ifcviewer.IFC.loadIfcUrl(ifcUrl);

               var lat = e.latlng.lat;
               var lng = e.latlng.lng;
               console.log(lat, lng);
            });
         }
         
         // Potree viewer
         /* 
         window.potree_viewer = new Potree.Viewer(document.getElementById("potree_render_area"));
         potree_viewer.setBackground("skybox");
         potree_viewer.setEDLEnabled(true);
         potree_viewer.setFOV(60);
         potree_viewer.setPointBudget(1_000_000);
         potree_viewer.loadSettingsFromURL();      
         potree_viewer.setDescription("");
         
         potree_viewer.loadGUI(() => {
            potree_viewer.setLanguage('en');
            $("#menu_appearance").next().show();
            //viewer.toggleSidebar();
         });
         
         Potree.loadPointCloud("/static/pcd_lion/cloud.js", "lion", function(e){
            viewer.scene.addPointCloud(e.pointcloud);            
            let material = e.pointcloud.material;
            material.size = 1;
            material.pointSizeType = Potree.PointSizeType.ADAPTIVE;
            potree_viewer.fitToScreen();
         }); */

         // event
         document.getElementById('updateButton').addEventListener('click', function() {
            var sensorType = document.getElementById('sensorType').value;
            updateView(sensorType);
         });

         function updateView(sensorType) {
            // var newDataset = model.getDataset(sensorType);
            // view.update(newDataset);
            // var iotChart = document.getElementById('iotChart');
            // var chartInstance = Chart.getChart(iotChart);
            // chartInstance.update();            
            location.reload();
         }

         Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5MDA1OGJhMi04NTY0LTQ0NDgtOWZkNi02ZWM1YzE1Y2VkODUiLCJpZCI6MjI3NzksInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1ODIwMzI3MTJ9.le7e8JdjCMK94zUohux5Wu-CWF0ydrrh7vSvxU3ZR4U';
         var viewer = new Cesium.Viewer('cesiumContainer', {
            animation: false,
            baseLayerPicker: false,
            fullscreenButton: false,
            geocoder: false,
            homeButton: true,
            infoBox: false,
            sceneModePicker: false,
            selectionIndicator: false,
            timeline: false,
            navigationHelpButton: true
         });
         viewer.camera.setView({
            destination: Cesium.Cartesian3.fromDegrees(127.9783, 37.5665, 1000000.0) 
         });

         var tileset = viewer.scene.primitives.add(Cesium.createOsmBuildings());         

      </script>
   </body>
</html>
